@font-face{
  font-family: COMFORTAA;
  src: url('../public/fonts/Comfortaa_Regular.ttf')
}

@font-face{
  font-family: COMFORTAA_BOLD;
  src: url('../public/fonts/Comfortaa_Bold.ttf')
}


body
{
  font-family: COMFORTAA;
  margin: 0;
}

h1
{
  font-family: COMFORTAA_BOLD;
  background-color: #DC6333;
  padding: 5px;
  text-align: center;
  color: white;
  margin: 0;
}

.profile
{
  cursor: pointer;
}

.letterTile
{
  height: 80px;
  width: 90%;
  margin: auto;
  left: 0;
  right: 0;
  position: relative;
  border: 2px solid #DC6333;
  margin-bottom: 20px;
  cursor: pointer;
}

.letter
{
  position: absolute;
  margin: auto;
  top: 35%;
  left: 0;
  right: 0;
  font-size: 2em;
}